BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "leds[7]" SITE "107" ;
LOCATE COMP "leds[6]" SITE "106" ;
LOCATE COMP "leds[5]" SITE "105" ;
LOCATE COMP "leds[4]" SITE "104" ;
LOCATE COMP "leds[3]" SITE "100" ;
LOCATE COMP "leds[2]" SITE "99" ;
LOCATE COMP "leds[1]" SITE "98" ;
LOCATE COMP "leds[0]" SITE "97" ;
IOBUF PORT "c_hs" IO_TYPE=LVCMOS12D ;
IOBUF PORT "d_hs" IO_TYPE=LVCMOS12D ;
LOCATE COMP "c_hs" SITE "61" ;
LOCATE COMP "d_hs" SITE "68" ;
LOCATE COMP "c_lp_n" SITE "57" ;
LOCATE COMP "c_lp_p" SITE "58" ;
LOCATE COMP "d_lp_n" SITE "60" ;
LOCATE COMP "d_lp_p" SITE "59" ;
LOCATE COMP "rxd" SITE "73" ;
IOBUF PORT "c_lp_n" IO_TYPE=LVCMOS12 ;
IOBUF PORT "c_lp_p" IO_TYPE=LVCMOS12 ;
IOBUF PORT "d_lp_n" IO_TYPE=LVCMOS12 ;
IOBUF PORT "d_lp_p" IO_TYPE=LVCMOS12 ;
LOCATE COMP "reset" SITE "50" ;
LOCATE COMP "sync" SITE "55" ;
IOBUF PORT "reset" IO_TYPE=LVCMOS12 ;
IOBUF PORT "sync" IO_TYPE=LVCMOS12 ;
LOCATE COMP "nrst" SITE "96" ;
IOBUF PORT "nrst" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "rxd" PULLMODE=UP IO_TYPE=LVCMOS25 ;